*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #6096B4;
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px #93BFCF;
    border-radius: 10px;
    background-color: #93BFCF;
}

h1 {
    text-align: center;
    color: #EEE9DA;
    
}

label {
    display: block;
    margin-top: 10px;
    color: #EEE9DA;
    font-size: 25px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #3bd0e4;
    border-radius: 4px;
}

input[type="file"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    font-size: 20px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #EEE9DA;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: rgb(26, 26, 26);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
#map {
    height: 300px;
    width: 60%;
    margin-left: 20%;
}
